.content-header {
  position: relative;
  padding: 0px 15px 0 15px;
}
.content-header h1 {
  margin: 0;

}
.content-header h1 span{
	text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);
	color: #696969;
	opacity: .6;
	font: 700 24px 'Bitter';
}
.content-header h1 small {
  display: inline-block;
  padding-left: 4px;
  color: #000;
  font: 300 15px 'Bitter';
}
.content-header .breadcrumb {
  float: right;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 5px 5px;
  position: absolute;
  top: 0 px;
  right: 10px;
  border-radius: 2px;
}
.content-header .breadcrumb li{
	color: #000;
}
.content-header .breadcrumb li a {
  color: #000;
  text-decoration: none;
  display: inline-block;
}
.content-header .breadcrumb li a:before {
	content: ""
}
/* .content-header > .breadcrumb > li > a> span{
	  color: #FAFAD2;
} */
.content-header > .breadcrumb > li > a > .fa,
.content-header > .breadcrumb > li > a > .glyphicon,
.content-header > .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header .breadcrumb li + li:before {
  content: '>\00a0';
}

@media (max-width: 991px) {
  .content-header .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    color: #fff;
    background: #3c3c3c;
    padding-left: 10px;
  }
  .content-header .breadcrumb li a {
	  color: #fff;
  }
  .content-header .breadcrumb li{
	color: #fff;
  }
  .content-header .breadcrumb li:before {
    color: #97a0b3;
  }
}
