<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>
<body>
<h2>Welcome <span th:text="${name}"></span> </h2>
Welcome
<div sec:authorize="hasAuthority('admin')">
  This content is only shown to admin.
</div>

<p sec:authorize="isAuthenticated()">i m working</p>


Logged user: <span sec:authentication="name">Bob</span>
</br>
Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span>

</body>

</html>