<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"></div>
<head>
<style>

.errorFont
{
   font-size: 15px;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"></div>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"></div>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"></div>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <section class="content">
  <div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
    <div class="container-fluid" sec:authorize="hasAuthority('admin')">
        <div class="row">
            <div class="col-12">
            
            
          <!-- jquery validation -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Search Exam List </h3>
                   
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                  <form class="form-horizontal" action="#" method="post" data-th-action="@{/batch-wise-student-result-entry.html}">
                
                      <div class="form-group row">
                       <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchId"><b>Batch
                        Name : <span class="required" style="color: red;">*</span> </b></label>
                        <select class="form-control col-md-4 col-sm-4 col-xs-4"  name="batchName" id="batchName">
                         <option>Select a batch</option>
                          <option th:each="batch : ${batchList}"  th:text="${batch.batchName}" th:value="${batch.batchId}" required="required">
	     			      </option> 
                        </select>
                      
					   <div class="control-label col-md-3 col-sm-3 col-xs-3"> <button type="button" class="btn btn-info" onclick="getExamInfo()">Enter</button></div>
                      </div>
                      <hr/>
                      <div class="form-group row">
                       <label class="control-label col-md-3 col-sm-3 col-xs-3" for="examName"><b>Exam
                        Name : <span class="required" style="color: red;">*</span> </b></label>
                        <select class="form-control col-md-4 col-sm-4 col-xs-4"  name="examName" id="examName" required="required">
                          
                        </select>
                      
					   
                      </div>
                      
                 <div class="pull-left"> <button type="submit" class="btn btn-success">Submit</button></div>
                
                
                </form>
            
                </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>
                  
                </div>
              </div>
              <!--/.col (left) -->
         
            
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
       <b>Version</b> 3.0.2
     </div>
     <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
     reserved.
     </footer>
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script>
function getExamInfo()
{
	var batchName = $('#batchName').val();
	$('#examName').empty();
    //$('#batchId').val(batch); 
    $.ajax({
		  type:'POST',
		  data:{batchName},
		  url:'get-exam-Id',
		  success: function(result){
			var output = [];
			var count=0;
			$.each(result, function(key, value) {
			 	output.push('<option value="'+ value.examId +'">'+ value.examName +'</option>');
				count++;
			});
			$('#examName').html(output.join(''));
			if(count==0)alert("No Exam ID Exists");
			  
		},
		 error: function (err) {
		        alert("No Exam ID Exists!!");
		    }
	  });
}

</script>

 </body>
</html>