<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<head>
<style>
table {
  font-weight: 600;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"/>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"/>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"/>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
          <!-- Default box -->
          <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Student Result Entry</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                  <div class="row">
                    <div class="col-md-4" style="padding:5px;">
                     <label class="col-md-4">Batch: </label>  <input type="hidden" th:value="${batch.batchId}" th:text="${batch.batchName}" name="batchId"/> 
                    </div>
                   <div class="col-md-4" style="padding:5px;">
                    <label class="col-md-4">Exam Date: </label> <input type="text" readonly="readonly" th:value="${#dates.format(examSummary.examDate, 'dd-MM-yyyy')}" style="border: none;"/> 
                  </div>
                 
                  <div class="col-md-4">
                     <label class="col-md-4">Exam Name: </label><input type="hidden" th:value="${exam.examId}" th:text="${exam.examName}" name="examId"/>   
                  </div>
                                   
                  <div class="col-md-4">
                     <label class="col-md-4">Duration: </label><input type="hidden" th:value="${exam.duration}" th:text="${exam.duration}" name="duration"/>   
                  </div>
                  
                  <div class="col-md-4" style="padding:5px;">
                    <label class="col-md-4">Result Date: </label> <input type="text" readonly="readonly" th:value="${#dates.format(examSummary.resultDate, 'dd-MM-yyyy')}" style="border: none;"/> 
                  </div>
                  
                  <div class="col-md-4">
                     <label class="col-md-4">Total Marks: </label><input type="hidden" th:value="${exam.totalMarks}" th:text="${exam.totalMarks}" name="totalMarks"/>   
                  </div>
                  
                  </div>
                  <hr>
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                      <tr bgcolor="#5D6D7E">
                         <th style="color:white;width: 7%" >SL.</th>
                         <th style="color:white;width: 10%">Entry No.</th>
                         <th style="color:white;width: 13%">Student Id</th>
                         <th style="color:white;width:  50%">Student Name</th>
                         <th style="color:white;width:  10%">Marks</th>
                         <th style="color:white;width:  10%" sec:authorize="hasAuthority('admin')">Op.</th>
                      </tr>
                      </thead>
                      <tbody>
                       <tr th:each="student, studentStat: ${results}">
                         <td th:text="${studentStat.index}+1">Index</td>
                         <td th:text="${student.entryId}">Entry No.</td>
                         <td th:text="${student.studentId}">Id</td>
                         <td th:text="${student.studentName}">Name</td>
                         <td th:text="${student.studentMarks}">Marks</td>
                         <td sec:authorize="hasAuthority('admin')">
                          <a th:href="@{/batch-wise-student-result-update.html(entryId=${student.entryId})}"><i class="fa fa-edit" style="color:green"></i></a>
                         </td>
                       </tr>  
                      </tbody>
                      
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            
            
          </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<script src="resources/js/lib/select2.full.min.js"></script>
<script src="resources/js/lib/moment.min.js"></script>
<script src="resources/js/lib/bootstrap-datetimepicker.js"></script>
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script src="resources/js/lib/tempusdominus-bootstrap-4.min.js"></script>
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- page script -->
<script>

$( document ).ready(function() {
	
	$('#example1').DataTable({
	    "paging": true,
	    "lengthChange": true,
	    "searching": true,
	    "ordering": true,
	    "info": true,
	    "autoWidth": true,
	});

});




</script>
</body>
</html>