<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<head>
<style>
table {
  font-weight: 600;
}
</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"/>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"/>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"/>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
          <!-- Default box -->
          <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Student Result Entry</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body table-responsive">
                  <form class="form-horizontal" id="quickForm" action="#" method="post" th:object="${resultList}" data-th-action="@{student-result-save.html}"> 
                  <div class="row">
                    <div class="col-md-4" style="padding:5px;">
                     <label class="col-md-4">Batch: </label>  <input type="hidden" th:value="${batch.batchId}" th:text="${batch.batchName}" name="batchId"/> 
                    </div>
                   <div class="col-md-4" style="padding:5px;">
                    <label class="col-md-4">Result Date: </label> <input type="text" name="resultDate" class="resultDate" style="font-weight:600;padding:5px;border-radius: 3px;" required="required"/> 
                  </div>
                  
                  <div class="col-md-4" style="padding:5px;">
                    <div class="form-group row input-group">
				              	<label class="control-label col-md-3 col-sm-3 col-xs-3" for="examDate"><b>Exam Date:</b></label>
					            <div class="input-group date col-md-7 col-sm-7 col-xs-7" id="datepicker" data-target-input="nearest">
					                <input type="text" name="examDate" class="form-control datetimepicker-input"  data-target="#datepicker" required="required"/>
					                <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
					                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					                </div>
					            </div>
						</div>
                  </div>
                  
                  <div class="col-md-4">
                     <label class="col-md-4">Exam Name: </label><input type="hidden" th:value="${exam.examId}" th:text="${exam.examName}" name="examId"/>   
                  </div>
                  
                  <div class="col-md-4">
                     <label class="col-md-4">Duration: </label><input type="hidden" th:value="${exam.duration}" th:text="${exam.duration}" name="duration"/>   
                  </div>
                  
                  <div class="col-md-4">
                     <label class="col-md-4">Total Marks: </label><input type="hidden" th:value="${exam.totalMarks}" th:text="${exam.totalMarks}" name="totalMarks"/>   
                  </div>
                  
                  </div>
                  <hr>
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                      <tr bgcolor="#5D6D7E">
                         <th style="color:white;">SL.</th>
                         <th style="color:white;">Student Id</th>
                         <th style="color:white;">Student Name</th>
                         <th style="color:white;">Student Marks</th>
                      </tr>
                      </thead>
                      <tbody>
                       <tr th:each="student, studentStat: *{results}">
                         <td><label th:text="${studentStat.index+1}"></label></td>
                         <td><input th:value="${student.studentId}" th:field="*{results[__${studentStat.index}__].studentId}" readonly="readonly" style="background-color:#C0C0C0;width:80px;font-weight:bold;"/></td>
                         <td><input th:value="${student.studentName}" th:field="*{results[__${studentStat.index}__].studentName}" readonly="readonly" style="background-color:#C0C0C0;width:500px;font-weight:bold;"/></td>
                         <td><input type="number" step="0.25" th:field="*{results[__${studentStat.index}__].studentMarks}" class="studentMarks" style="font-weight:bold;" required="required" value="0"/>
                         </td>
                      </tr> 
                      </tbody>
                      
                    </table>
                      <div class="pull-left"> <button type="submit" class="btn btn-success">Save</button></div>
                    </form>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            
            
          </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<script src="resources/js/lib/select2.full.min.js"></script>
<script src="resources/js/lib/moment.min.js"></script>
<script src="resources/js/lib/bootstrap-datetimepicker.js"></script>
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script src="resources/js/lib/tempusdominus-bootstrap-4.min.js"></script>

<!-- page script -->
<script>

$( document ).ready(function() {
	
	$('#quickForm').validate({
	    rules: {
	    	examName: {
	        required: true,
	      }
	    },
	    messages: {
	    	examDate: {
	        required: "Please enter an exam date",
	      }
	    },
	    errorElement: 'span',
	    errorPlacement: function (error, element) {
	    error.addClass('invalid-feedback');
	    error.addClass('col-md-6');
	    error.addClass('font-weight-bolder');
	    error.addClass('errorFont');
	    element.closest('.form-group').append(error);
	    },
	    highlight: function (element, errorClass, validClass) {
	      $(element).addClass('is-invalid');
	    },
	    unhighlight: function (element, errorClass, validClass) {
	      $(element).removeClass('is-invalid').addClass('is-valid');
	    }
	  });
	

	$('#datepicker').datetimepicker({
	   format: 'DD/MM/YYYY'
	 });
	
	var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10) {
      dd = '0'+dd
	} 
    if(mm<10) 
    {
      mm = '0'+mm
	} 
    today = yyyy + '/' + mm + '/' + dd;
    $('.resultDate').attr("value", today);
});

$('#example1').DataTable({
    "paging": true,
    "lengthChange": true,
    "searching": true,
    "ordering": true,
    "info": true,
    "autoWidth": true,
});

</script>
</body>
</html>