<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"></div>
<head>
<style>

.errorFont
{
   font-size: 15px;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"></div>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"></div>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"></div>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            
            
          <!-- jquery validation -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Search Exam List </h3>
                   
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                  
                  <div style="padding-bottom:20px;">
					 <div  th:if="${successMessage != null}" id="message">
					   <strong>
					      <div th:text="${successMessage}" style="color:green;"></div>
					   </strong>
				     </div>
				     
				     <div  th:if="${errorMessage != null}" id="message">
					   <strong>
					     <div th:text="${errorMessage}" style="color:red;"></div>
					   </strong>
				     </div>
				    
				 </div>
				  <form class="form-horizontal" id="quickForm" action="#" method="get" data-th-action="@{exam-list.html}"  th:object="${batch}">			
                    <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchId"><b>Batch
                        Name : <span class="required" style="color: red;">*</span> </b></label>
                        <select class="form-control col-md-4 col-sm-4 col-xs-4"  name="batchName" id="batchName">
                             <option th:each="batch : ${batchList}"  th:text="${batch.batchName}" th:value="${batch.batchId}" required="required">
						     </option> 
                         </select>
                      
					   
					 <div class="control-label col-md-3 col-sm-3 col-xs-3"> <button type="submit" class="btn btn-info">Enter</button></div>
                     
                     </div>
                  </form>
                  <div id="table_div">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                      <tr bgcolor="#5D6D7E">
                        <th style="color:white;">Exam ID</th>
                        <th style="color:white;">Exam Name</th>
                        <th style="color:white;">Syllabus</th>
                        <th style="color:white;">Duration</th>
                        <th style="color:white;">Total Marks</th>
                        <th style="color:white;">EntryName</th>
                        <th style="color:white;" sec:authorize="hasAuthority('admin')">Operations </th>
                      </tr>
                      </thead>
                      <tbody>
                        <tr th:each="exam : ${examList}">
                           <td th:text="${exam.examId}">Exam ID</td>
                           <td th:text="${exam.examName}">Exam Name</td>
                           <td th:text="${exam.syllabus}">Syllabus</td>
                           <td th:text="${exam.duration}">Exam Duration</td>
                           <td th:text="${exam.totalMarks}">Total Marks</td>
                           <td th:text="${exam.entryUserName}">User Name</td>
                           <td sec:authorize="hasAuthority('admin')">
                              <a th:href="@{/exam-edit.html(batchId=${exam.batchId},examId=${exam.examId})}"><i class="fa fa-edit" style="color:green"></i></a>
                              <!-- <a th:href="@{/exam-delete.html(batchId=${exam.batchId},examId=${exam.examId})}" onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-trash" style="color:orange;"></i></a> -->
                           </td>
                        </tr> 
                      </tbody>
                      
                    </table>
                    
                    </div>
            
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>
                  
                </div>
              </div>
              <!--/.col (left) -->
         
            
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
       <b>Version</b> 3.0.2
     </div>
     <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
     reserved.
     </footer>
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>

<script>

$(document).ready(function () {
	
	var table = document.getElementById("myTable");

	var newIndex = $("#example1 > tbody > tr").length;
	var selectList = $('#batchName > option').length;
	if(newIndex==0 && selectList>1)
	{
		$("#table_div").hide();	
	}
    
	$('#quickForm').validate({
	    rules: {
	    	batchName: {
	        required: true,
	      },
	    },
	    messages: {
	      batchName: {
	        required: "Please enter a batch name",
	      }
	    },
	    errorElement: 'span',
	    errorPlacement: function (error, element) {
	    error.addClass('invalid-feedback');
	    error.addClass('col-md-4');
	    error.addClass('font-weight-bolder');
	    error.addClass('errorFont');
	    element.closest('.form-group').append(error);
	    },
	    highlight: function (element, errorClass, validClass) {
	      $(element).addClass('is-invalid');
	    },
	    unhighlight: function (element, errorClass, validClass) {
	      $(element).removeClass('is-invalid').addClass('is-valid');
	    }
	  });
	});
	
$("#message").fadeOut(4000, "linear");



</script>

 </body>
</html>