<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"></div>
<head>
<style>

.errorFont
{
   font-size: 15px;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"></div>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"></div>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"></div>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <section class="content">
  <div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
    <div class="container-fluid" sec:authorize="hasAuthority('admin')">
        <div class="row">
            <div class="col-12">
            
            
          <!-- jquery validation -->
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Add Exam Info </h3>
                   
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                  
                  <div style="padding-bottom:20px;">
					 <div  th:if="${successMessage != null}" id="message">
					   <strong>
					      <div th:text="${successMessage}" style="color:green;"></div>
					   </strong>
				     </div>
				     
				     <div  th:if="${errorMessage != null}" id="message">
					   <strong>
					     <div th:text="${errorMessage}" style="color:red;"></div>
					   </strong>
				     </div>
				    
				 </div>
							
                   <form class="form-horizontal" id="quickForm" action="#" method="post" data-th-action="@{exam-add-save.html}"  th:object="${exam}">
                    
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="examName"><b>Exam Name : <span class="required" style="color: red;">*</span> </b></label>
                        
                        <input type="text" name="examName" class="form-control col-md-4 col-sm-4 col-xs-4" th:field="*{examName}" required="required">
                      </div>
					  
					  <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchId"><b>Batch
                        Name : <span class="required" style="color: red;">*</span> </b></label>
                        <select class="form-control col-md-4 col-sm-4 col-xs-4"  th:field="*{batchId}" name="batchId">
                             <option  selected="selected" value=""></option>
                             <option th:each="batch : ${batchList}"  th:text="${batch.batchName}" th:value="${batch.batchId}" required="required">
						     </option> 
                         </select>
                       </div>
                       
                       <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="syllabus"><b>Syllabus : <span class="required" style="color: red;">*</span> </b></label>
                        
                        <textarea name="syllabus" class="form-control col-md-4 col-sm-4 col-xs-4" th:field="*{syllabus}" required="required"></textarea>
                      </div>
					   
					 <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="duration"><b>Exam Duration : </b></label>
                        
                        <input type="text" name="duration" th:field="*{duration}" class="form-control col-md-4 col-sm-4 col-xs-4">
                      </div>
					  
					  <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="totalMarks"><b>Total Marks : </b></label>
                        
                        <input type="text" name="totalMarks" th:field="*{totalMarks}" class="form-control col-md-4 col-sm-4 col-xs-4">
                      </div>
					   
                   
                      <button type="submit" class="btn btn-success">Save</button>
                      </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>
                  
                </div>
              </div>
              <!--/.col (left) -->
         
            
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
       <b>Version</b> 3.0.2
     </div>
     <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
     reserved.
     </footer>
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    
	$('#quickForm').validate({
	    rules: {
	    	examName: {
	        required: true,
	      },
	        batchId: {
	        required: true,
	        },
	        syllabus: {
		    required: true,
		    },
		    syllabus: {
		    required: true,
			},
	    },
	    messages: {
	    	examName: {
	        required: "Please enter an exam name",
	      },
	      batchId: {
	            required: "Please enter a Batch name",
	      },
	      syllabus: {
	            required: "Please enter Syllabus",
	      }
	    },
	    errorElement: 'span',
	    errorPlacement: function (error, element) {
	    error.addClass('invalid-feedback');
	    error.addClass('col-md-4');
	    error.addClass('font-weight-bolder');
	    error.addClass('errorFont');
	    element.closest('.form-group').append(error);
	    },
	    highlight: function (element, errorClass, validClass) {
	      $(element).addClass('is-invalid');
	    },
	    unhighlight: function (element, errorClass, validClass) {
	      $(element).removeClass('is-invalid').addClass('is-valid');
	    }
	  });
	});
	

$("#message").fadeOut(4000, "linear");
</script>

 </body>
</html>