<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<head>
<style>
table {
  font: 10px arial, sans-serif;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"/>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"/>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"/>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
          <!-- Default box -->
          <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">Student List</h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <table id="example1" class="table table-bordered table-striped">
                      <thead>
                      <tr bgcolor="#5D6D7E">
                         <th style="display: none;">ID</th>
                         <th>Student Name</th>
                         <th>Gender</th>
                         <th>DOB</th>
                         <th>Batch Name</th>
                         <th>Institute</th>
                         <th>Contact No.</th>
                         <th>Email</th>
                         <th>Father's Name</th>
                         <th>Mother's Name</th>
                         <th>Address</th>
                         <th sec:authorize="hasAuthority('admin')">Op. </th>
                      </tr>
                      </thead>
                      <tbody>
                     <tr th:each="student : ${studentList}">
                          <td th:text="${student.studentId}" style="display: none;"> ID</td>
                          <td th:text="${student.studentName}">Name</td>
                          <td th:text="${student.gender}">Gender</td>
                          <td th:text="${#dates.format(student.dateOfBirth, 'dd-MM-yyyy')}">DOB</td>
                          <td th:text="${student.batchName}">Batch</td>
                          <td th:text="${student.educationalInstitute}">Institute</td>
                          <td th:text="${student.contactNumber}">Contact No.</td>
                          <td th:text="${student.email}">Email</td>
                          <td th:text="${student.fatherName}">Father's Name</td>
                          <td th:text="${student.motherName}">Mother's Name</td>
                          <td th:text="${student.address}">Address</td>
                          <td sec:authorize="hasAuthority('admin')">
                             <a th:href="@{/student-edit.html(studentId=${student.studentId})}"><i class="fa fa-edit" style="color:green"></i></a>
                             <!-- <a th:href="@{/student-delete.html(studentId=${student.studentId})}" onclick="return confirm('Are you sure you want to delete?');"><i class="fa fa-trash" style="color:orange;"></i></a> -->
                          </td>
                      </tr> 
                      <tfoot>
                       <tr bgcolor="#5D6D7E">
                         <th style="display: none;">ID</th>
                         <th>Student Name</th>
                         <th>Gender</th>
                         <th>DOB</th>
                         <th>Batch Name</th>
                         <th>Institute</th>
                         <th>Contact No.</th>
                         <th>Email</th>
                         <th>Father's Name</th>
                         <th>Mother's Name</th>
                         <th>Address</th>
                         <th sec:authorize="hasAuthority('admin')">Op. </th>
                       </tr>
                      </tfoot>
                    </table>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
            
            
          </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- page script -->
<script>
  $(function () {
    //$("#example1").DataTable();
    $('#example1').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
      "ordering": true,
      "info": true,
      "autoWidth": false,
    });
  }); 
</script>
</body>
</html>