<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"></div>
<head>
<style>

.errorFont
{
   font-size: 15px;
}

</style>
</head>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"/>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"/>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"/>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <section class="content">
  <div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
  </div>
    <div class="container" sec:authorize="hasAuthority('admin')">
        <div class="row">
            <div class="col-12">
                <div class="card card-info">
                  <div class="card-header">
                    <h3 class="card-title">Add Student Info </h3>
                   
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                  
                  <div style="padding-bottom:20px;">
           <div  th:if="${successMessage != null}" id="message">
             <strong>
                <div th:text="${successMessage}" style="color:green;"></div>
             </strong>
             </div>
             
             <div  th:if="${errorMessage != null}" id="message">
             <strong>
               <div th:text="${errorMessage}" style="color:red;"></div>
             </strong>
             </div>
            
         </div>
              
            <form class="form-horizontal" id="quickForm" action="#" method="post" data-th-action="@{student-add-save.html}"  th:object="${student}">
                    
                     <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="studentId"><b>Student
                        Id : <span class="required" style="color: red">*</span> </b></label>
                        <input type="text" name="studentId" class="form-control col-md-4 col-sm-4 col-xs-4"  onchange="checkStudentId()"
                        id="studentId" required="required" th:field="*{studentId}">
                        
                      </div>
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="studentName"><b>Student
                        Name : <span class="required" style="color: red">*</span> </b></label>
                        <input type="text" name="studentName" class="form-control col-md-4 col-sm-4 col-xs-4"  id="studentName" required="required" th:field="*{studentName}">
                      </div>
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="fatherName"><b>Father's Name :  </b></label>

                        <input type="text" name="fatherName" class="form-control input-sm col-md-4 col-sm-4 col-xs-4"  id="fatherName" th:field="*{fatherName}">
                      </div>
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="motherName"><b>Mother's Name :  </b></label>

                        <input type="text" name="motherName" class="form-control col-md-4 col-sm-4 col-xs-4"  id="motherName" th:field="*{motherName}">
                      </div>
                      

                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="gender"><b>
                        Gender : <span class="required" style="color: red;">*</span></label>

                        <select class="form-control" th:field="*{gender}">
                              <option  selected="selected" value="Male">Male</option>
                              <option value="Female">Female</option>
                        </select>
                      </div>
                      
                       <div class="form-group row input-group">
				              	<label class="control-label col-md-3 col-sm-3 col-xs-3" for="dateOfBirth"><b>DOB:</b></label>
					            <div class="input-group date col-md-4 col-sm-4 col-xs-4" id="datepicker" data-target-input="nearest">
					                <input type="text" name="dateOfBirth" class="form-control datetimepicker-input" th:field="*{dateOfBirth}" data-target="#datepicker" />
					                <div class="input-group-append" data-target="#datepicker" data-toggle="datetimepicker">
					                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
					                </div>
					            </div>
						</div>
						        
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchId"><b>Batch
                        Name : <span class="required" style="color: red;">*</span> </b></label>
                        <select class="form-control col-md-4 col-sm-4 col-xs-4"  th:field="*{batchId}" name="batchId">
                             <option  selected="selected" value=""></option>
                             <option th:each="batch : ${batchList}"  th:text="${batch.batchName}" th:value="${batch.batchId}">
						     </option> 
                         </select>
                       </div>
                       
                       
                       
                       <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="educationalInstitute"><b>College
                        Name : <span class="required" style="color: red;">*</span> </b></label>

                        <input type="text" name="educationalInstitute" class="form-control col-md-4 col-sm-4 col-xs-4"  id="educationalInstitute" required="required" th:field="*{educationalInstitute}">
                      </div>
                      
                       <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="contactNumber"><b>Contact
			             Number : <span class="required" style="color: red;">*</span>  </b></label>

                        <input type="text" name="contactNumber" class="form-control col-md-4 col-sm-4 col-xs-4"  id="contactNumber" required="required" th:field="*{contactNumber}">
                      </div>
                      
                       <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for=email><b>Email:
			            </b></label>
                        <input type="email" name="email" class="form-control col-md-4 col-sm-4 col-xs-4"  id="email"  th:field="*{email}">
                      </div>
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="address"><b>Address:
			              <span class="required" style="color: red;">*</span>  </b></label>

                        <input type="text" name="address" class="form-control col-md-4 col-sm-4 col-xs-4"  id="address" required="required" th:field="*{address}">
                      </div>
                      
                      <button type="submit" class="btn btn-success">Save</button>
                      </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>
                  
                </div>
              </div>
              <!--/.col (left) -->
         
            
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
       <b>Version</b> 3.0.2
     </div>
     <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
     reserved.
   </footer>
  
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<!-- jquery-validation -->
<!-- Select2 -->
<script src="resources/js/lib/select2.full.min.js"></script>
<script src="resources/js/lib/moment.min.js"></script>
<script src="resources/js/lib/daterangepicker.js"></script>
<script src="resources/js/lib/bootstrap-datetimepicker.js"></script>
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script src="resources/js/lib/tempusdominus-bootstrap-4.min.js"></script>

<script type="text/javascript">

function checkStudentId()
{
	 var studentId = $('#studentId').val();
	 console.log(studentId);
	 
	 $.ajax({
		  type:'POST',
		  data:{studentId},
		  url:'check-duplicate-student-id',
		  //datatype:'json',
		  success: function(result){
			  console.log(result);
			  if(result!=false){
				  alert(studentId + "  already exists in database");
				  $('#studentId').val("");
			  }
		  }
	 });
}

$(document).ready(function () {
	
	
	// Numeric only control handler
	jQuery.fn.ForceNumericOnly =
	function()
	{
	    return this.each(function()
	    {
	        $(this).keydown(function(e)
	        {
	            var key = e.charCode || e.keyCode || 0;
	            // allow backspace, tab, delete, enter, arrows,minus sign, numbers and keypad numbers ONLY
	            // home, end, period, and numpad decimal
	            return (
	                key == 8 || 
	                key == 9 ||
	                key == 13 ||
	                key == 46 ||
	                key == 110 ||
	                key == 189 ||
	                key == 190 ||
	                (key >= 35 && key <= 40) ||
	                (key >= 48 && key <= 57) ||
	                (key >= 96 && key <= 105));
	        });
	    });
	};
	
	$("#contactNumber").ForceNumericOnly();
	  
  $('#quickForm').validate({
      rules: {
    	  studentName: {
          required: true,
        },
        batchId: {
            required: true,
          },
       educationalInstitute: {
              required: true,
         },
      contactNumber: {
             required: true,
             minlength: 6,
        },
      address: {
            required: true,
       },
      },
      messages: {
    	  studentName: {
          required: "Please enter a Student name",
        },
        batchId: {
            required: "Please enter a Batch name",
          },
       educationalInstitute: {
              required: "Please enter a College name",
         },
      contactNumber: {
             required: "Please enter a Contact Number",
             minlength:   "Your Contact Number must be at least 6 characters long",
        },
     address: {
            required: "Please enter an Address",
       },
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        error.addClass('col-md-4');
        error.addClass('font-weight-bolder');
        error.addClass('errorFont');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid').addClass('is-valid');
      }
    });
  });
  
  $('#datepicker').datetimepicker({
     format: 'DD/MM/YYYY'
   });
	
  $(function () 
    {
	    $('.select2').select2();   
	});

 $("#message").fadeOut(4000, "linear");
 
 $(".chosen-select").chosen({
		enable_split_word_search: false
	});
 
</script>

 </body>
</html>