<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<style>
.panel-head{
	height: 75vh;
	overflow-y: auto;
	overflow-x: hidden;
}
.clearfix{
	font-size: 13px;
	color: #757575!important;
	width: 100%
}
.list-group-item{
    padding: .5em;
    margin-bottom: .5em;
    border-radius: .5em;
    text-decoration: none!important;
    color: #757575;
    white-space: nowrap!important;
    overflow: hidden!important;
    text-overflow: ellipsis!important;
 }
/* width */
::-webkit-scrollbar {
	width: 10px;
	background-color: #F5F5F5;
}

/* Track */
::-webkit-scrollbar-track {
 	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
border-radius: 10px;
	background-image: -webkit-gradient(linear,
									   left bottom,
									   left top,
									   color-stop(0.44, rgb(122,153,217)),
									   color-stop(0.72, rgb(73,125,189)),
									   color-stop(0.86, rgb(28,58,148)));
}

/*effect-underline*/
a.effect-underline:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

a.effect-underline:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}
a.effect-underline:link { COLOR: #757575; TEXT-DECORATION: none; font-weight: normal }
a.effect-underline:visited { COLOR: #757575; TEXT-DECORATION: none; font-weight: normal }
a.effect-underline:active { COLOR: #757575; TEXT-DECORATION: none }
a.effect-underline:hover { COLOR: #6610f2 !important; TEXT-DECORATION: none; font-weight: 400 }

.video-active{
	background-color: #d81b60 ;
	color: #fff !important;
	font-weight: 500;
}

	
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<section class="content">
		<div class="container-fluid">
		    <div class="row">
       			<div class="col-md-8">
					<!-- Default box -->
				    <div class="card">
				        <!-- <div class="card-header">
				          <h3 class="card-title">Title</h3>
				        </div> -->
				        <!-- /.card-header -->
				        <div class="">
		                    <div class="embed-responsive embed-responsive-16by9">
		                      <iframe class="embed-responsive-item" width="367" height="270" id="iframe" th:src="${src}" frameborder="0" allowfullscreen=""></iframe>
		                    </div>
				        </div>
				        <!-- /.card-body -->
				        <div class="card-footer">
				          Footer
				        </div>
				        <!-- /.card-footer-->
				    </div>
				    <!-- /.card -->
				    
				    
			    </div>
       			<!-- /.col(left) -->
       			<div class="col-md-4">
					<!-- Default box -->
				    <div class="card panel-head">
				    	<div class="card-header">
				    		<h5 class="card-title float-none">
				    			<a href="#" class="btn btn-app">
				    				<i class="fas fa-video-slash"></i>
				    				Video
				    			</a>
							</h5>
				    	</div>
				        <!-- /.card-header -->
				        <div class="card-body">
				        	<!-- <ul class="list-group" id="videoList" th:each="chapter : ${chapters}">
				        		<a class="btn btn-default btn-block btn-sm video list-group-item"  name="videoSrc"
				        				th:each="video, itr : ${videos}"
				        				th:classappend="${itr.index} == 0 ? 'active' : ''" 
				        			 	th:attr="data-id=${video.videoId}"
				        			 	th:href="@{/video.html(videoId=${video.videoId})}"
				        			 	th:id="videoSrc- + ${video.videoId}" >
				        			 	<span th:text="${video.videoName}"></span>
									<i class="fab fa-youtube text-left"></i> 
								</a>
								<div class="btn btn-default btn-block btn-sm text-left list-group-item mt-1	">
					                <h3 th:text="${chapter.chapterName}" class="card-title">Collapsable</h3>
									<a data-toggle="collapse" th:attr ="data-target='#collapseExample' + ${chapter.chapterId}" aria-expanded="false" aria-controls="collapseExample">
							          <th:block th:text="${chapter.chapterName}" />
							        </a>
					            </div>
					            
					            <div th:each="video : ${chapter.videoUploads}" class="collapse btn btn-default btn-block btn-sm text-left list-group-item" 
					            	th:id="${'collapseExample' + chapter.chapterId}">
					            	<a>
				        		   		<i class="fab fa-youtube"></i> <th:block th:text="${video.videoName}" />
				        			</a>
					            </div>
				        		
					        	
				        	</ul> -->
				        	
				        	<!-- <div class="accordion" id="accordionExample" th:each="chapter : ${chapters}">
							    <div id="headingOne">
							        <a class="btn btn-default btn-block btn-sm video  text-left" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
							          <th:block th:text="${chapter.chapterName}" /><i class="fas fa-angle-down float-right"></i>
							        </a>
							    </div>
							  	<div id="collapseOne" th:each="video : ${chapter.videoUploads}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
							      	<a class="btn btn-default btn-block btn-sm text-left list-group-item">
				        		   		<i class="fab fa-youtube"></i> <th:block th:text="${video.videoName}" />
				        			</a>
							   </div>
							</div> -->
							
							<div class="accordion" id="accordionExample">
							  <div class="" th:each="chapter : ${chapters}" style="margin-bottom: .3rem;">
							    <div class="card-header p-1" th:id="${'heading' + chapter.chapterId}" style="background-color: #f1f1f1;">
							      <div class="mb-0" style="">
							        <button class="btn btn-link btn-block p-0 p-md-1 clearfix" 
									        type="button" data-toggle="collapse" 
									        th:attr ="data-target='#collapse'+${chapter.chapterId},aria-controls='collapse'+${chapter.chapterId}"
									        aria-expanded="true">
							        	<div class="pull-left float-left text-truncate text-left font-weight-bold" style="white-space: normal;" th:text="${chapter.chapterName}">
							        	</div>
							        	<span class="float-right pull-right"><i class="fas fa-chevron-up"></i></span>
							        </button>
							      </div>
							    </div>
							    
							    <div class="collapse"
							    	 th:classappend="${activeChapterId} eq ${chapter.chapterId} ? 'show': ''"
							    	 th:id="${'collapse'+ chapter.chapterId} " 
							    	 th:attr="aria-labelledby='heading' + ${chapter.chapterId}" 
							    	 data-parent="#accordionExample">
							      <div class="card-body" style="padding: .7rem;
							      								padding-left: 0!important;
    															padding-right: 0!important;
    															">
    									<div class="list-group">
    										<a 	class="btn btn-default btn-block btn-sm effect-underline list-group-item text-left"
    										 	th:each="video : ${chapter.videoUploads}"
    										 	th:href="@{/video.html(chapterId=${chapter.chapterId},videoId=${video.videoId},chapterId=${chapter.chapterId})}"
    										 	th:classappend="${activeVideoId} eq ${video.videoId} ? 'video-active': ''">
    											<i class="fab fa-youtube"></i> <th:block th:text="${video.videoName}"
    											 />
    										</a>
    									</div>
							      	
							      </div>
							    </div>
							
							    
							  </div>
							</div>
				        </div>
				        <!-- /.card-body -->
				    </div>
				    <!-- /.card -->
				    
				    
			    </div>
       			
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	   </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->

<script type="text/javascript">
$('.panel-collapse').on('show.bs.collapse', function () {
    $(this).siblings('.panel-heading').addClass('active');
  });

/* $(function(){
	var someVarName = localStorage.getItem("someVarKey");
	if(someVarName != null){
		$("#videoList a").removeClass("active");
		$('#' + someVarName).addClass("active");
	}
	
	$('.video').on('click', function(e){
		e.preventDefault();
		var activeElement = $(this);
		var cacheId = activeElement.attr('id');
		console.log('cacheId', cacheId);
		var videoId = $(this).data('id');
		var someVarName = cacheId;
		localStorage.setItem("someVarKey", someVarName);
		$.ajax({
		  type: 'GET',
		  url: 'videoUpload',
		  data: {videoId},
		  cache: false,
		  success: function(data){
		     console.log("videoSrc: " + data);
		     //var videoSrc = 
		     $('#iframe').attr('src', data);
		     $("#videoList a").removeClass("active");
		        activeElement.addClass("active");
		  }
		});

	});
	

});
 */






























</script>


</body>
</html>