<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<section class="content">
	<div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
		<div class="container-fluid" sec:authorize="hasAuthority('admin')">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
				    <div class="card card-info">
				        <div class="card-header">
				          <h3 class="card-title">Video File Upload</h3>
				          
				        </div>
				        <div th:if="${successMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong>Data is added successfully</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div th:if="${errorMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong >You should check in on some of those fields below.!</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
				        <!-- /.card-header -->
				        <form role="form" id="quickForm" method="POST" th:action="video-upload-save" th:object="${video}">
			                <div class="card-body">
			                
   								<input type="hidden" name="videoId" th:field="*{videoId}" id="videoId"/>
   								
			                  <div class="form-group">
			                    <label for="lectureName">Video Name: </label>
			                    <input type="text" th:field="*{videoName}" class="form-control" id="videoName" placeholder="Video Name" />
			                  </div>
			                  
			                  <div class="form-group">
							    <label for="exampleFormControlSelect1" class="text-capitalize">Select Chapter</label>
							    <select class="form-control select2" th:field="*{chapterId}">
							      <option th:value ="0">select a value</option>
							      <option th:each="chapter : ${chapters}" th:value="${chapter.chapterId}" th:text="${chapter.chapterName}">2</option>
							    </select>
							  </div>
			                  
			                  <div class="form-group">
							    <label for="exampleFormControlSelect1" class="text-capitalize">Select Student level</label>
							    <select class="form-control" th:field="*{levelId}" >
							      <option th:value ="0">select a value</option>
							      <option th:each="list : ${levelList}" th:value="${list.levelId}" th:text="${list.levelName}">2</option>
							    </select>
							  </div>
							  
			                  <div class="form-group">
							    <label for="exampleFormControlFile1" class="text-capitalize">Video url: </label>
							    <input type="url" class="form-control" name="videoSrc" th:field="*{videoSrc}" />
			                  </div>
			                  
			                </div>
			                <!-- /.card-body -->
					        <div class="card-footer">
					        	<button type="reset" value="reset" class="btn btn-dark ml-3 pull-leftt">Cancel</button>
			                	<button type="submit" id="loading" class="btn btn-primary float-right">
								  <span class="d-none spinner-grow spinner-grow-sm"></span>
								  Submit
								</button>
			                </div>
			                <!-- /.card-footer-->
		                </form>
		                <!-- /form -->
				    </div>
				    <!-- /.card -->
				    
				    
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	   </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- Select2 -->
<script src="resources/js/lib/select2.full.min.js"></script>
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	//var validator =  $("#quickForm").validate();
	//Initialize Select2 Elements
    $('.select2').select2();
	
	$('#quickForm').validate({
	normalizer: function( value ) {
		  return $.trim( value );
		},
    rules: {
      videoName: {
        required: true,
        minlength: 3,
        maxlength: 150,
        remote: {
            url: "checkVideoNameDuplication",
            type: "GET",
            data: {
            	videoName: function() {
                return $("#videoName").val();
              }
            }
          }
      },
      chapterId: {valueNotEquals: "0"},
      levelId: { valueNotEquals: "0" },
      videoSrc: {
    	  required: true,
          url: true,
       	  // We don't need to trim the value of this element, so we overrided
          // the global normalizer in order to append 'http://' to the url value
          // if doesn't already.
          normalizer: function( value ) {
            var url = value;
     
            // Check if it doesn't start with http:// or https:// or ftp://
            if ( url && url.substr( 0, 7 ) !== "http://"
                && url.substr( 0, 8 ) !== "https://"
                && url.substr( 0, 6 ) !== "ftp://" ) {
              // then prefix with http://
              url = "http://" + url;
            }
     		var v = $('.videoSrc').val(url);
            // Return the new url
            return url;
          }
    	  
      }
    },
    messages: {
      videoName: {
        required: "Please enter Video Name",
        minlength: "Video Name must be at least 3 characters long",
        maxlength: "Video Name must be at most 150 characters long",
        remote: "Video Name has already been taken"
      },
      videoSrc: {
        required: "Please provide a url",
        url:"please check your url",
        
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
    	$(element).removeClass('is-valid').addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
    	$(element).removeClass('is-invalid').addClass('is-valid');
    },
    
    
    submitHandler: function(form) {
    	$("#loading").addClass('disabled');
        $("#loading").find('span').removeClass('d-none');
        setTimeout(function() { 
            $.ajax({
                url: form.action,
                type: form.method,
                data: $(form).serialize(),
                success: function(response) {
                	console.log('response', response);
                	//validator.resetForm();
                	//$("#quickForm")[0].reset();
                	toastr.success(response);
                	var form = $("#quickForm");
                	$('#chapterId').select2("val", "0");
                    form.validate().resetForm();      // clear out the validation errors
                    form[0].reset();
                    form.find('input').removeClass('is-invalid is-valid');
                    form.find('select').removeClass('is-invalid is-valid');
                    $("#loading").removeClass('disabled');
                    $("#loading").find('span').addClass('d-none');
                }            
            });
        }, 1000);
        
    }
    
  });
  
  $.validator.addMethod("valueNotEquals", function(value, element, arg){
      return arg != value;
      }, "Select an option");
});
</script>
</body>
</html>









