<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
					<div class="card">
			            <div class="card-header">
			              <h3 class="card-title"><strong>Video Upload List</strong></h3>
			            </div>
			            <div th:if="${successMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <span th:text="${successMessage}"></span>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div th:if="${errorMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong >You should check in on some of those fields below.</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
			            <!-- /.card-header -->
			            <div class="card-body">
			              <table id="example1" class="table table-bordered table-striped">
			                <thead>
			                <tr>
			                  <th>SL</th>
			                  <th>Video Name</th>
			                  <th>Level</th>
			                  <th>Video Src</th>
			                  <!-- <th>Date</th> -->
			                  <th sec:authorize="hasAuthority('admin')">O/P</th>
			                </tr>
			                </thead>
			                <tbody>
			                <tr th:each="video, itr : ${videos}">
			                  <td th:text="${itr.index + 1}">1</td>
			                  <td th:text="${video.videoName}">1</td>
			                  <td th:text="${video.levelId}">Functional-requirements.docx</td>
			                  <td th:text="${video.videoSrc}">Functional-requirements.docx</td>
			                  <!-- <td th:text="${#dates.format(lecture.createDate, 'dd-MMM-yyyy')}">112/25/2001</td> -->
			                  <td class="text-right py-0 align-middle" sec:authorize="hasAuthority('admin')">
			                      <div class="btn-group btn-group-sm">
			                        <a th:href="@{updateVideo/(videoId=${video.videoId})}"
											  id="editBtn" class="editBtn btn btn-warning"><i class="fas fa-pencil-alt"></i></a>
			                        <a href="#" th:attr="data-id=${video.videoId}" class="btn btn-danger confirm-delete"><i class="fas fa-trash"></i></a>
			                      </div>
			                  </td>
			                </tr>
			                </tbody>
			                <tfoot>
			                <tr>
			                  <th>SL</th>
			                  <th>Video Name</th>
			                  <th>Level</th>
			                  <th>Video Src</th>
			                  <!-- <th>Date</th> -->
			                  <th sec:authorize="hasAuthority('admin')">O/P</th>
			                </tr>
			                </tfoot>
			              </table>
			            </div>
			            <!-- /.card-body -->
			          </div>
			          <!-- /.card -->
			          
			          
				      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
				        <div class="modal-dialog">
				          <div class="modal-content bg-danger">
				            <div class="modal-header">
				              <h4 class="modal-title">Delete Record</h4>
				              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                <span aria-hidden="true">&times;</span>
				              </button>
				            </div>
				            <div class="modal-body">
				              <p>Do you want to delete this record?</p>
				            </div>
				            <div class="modal-footer justify-content-between">
				              <a id="modelLink" class="btn btn-primary">Yes</a>
					          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				            </div>
				          </div>
				          <!-- /.modal-content -->
				        </div>
				        <!-- /.modal-dialog -->
				      </div>
				      <!-- /.modal -->				    
				    
				    <form role="form" id="quickForm" method="POST" th:action="video-upload-update-save">
			        	<div class="modal fade" id="exampleModal">
					        <div class="modal-dialog">
					          <div class="modal-content">
					            <div class="modal-header">
					              <h4 class="modal-title">Uploaded Video Edit</h4>
					              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					                <span aria-hidden="true">&times;</span>
					              </button>
					            </div>
					            <div class="modal-body">
					              	
		    							  <input type="hidden" name="videoId" id="videoId"/>
						                  <div class="form-group">
						                    <label for="lectureName">Video Name: </label>
						                    <input type="text" name="videoName" class="form-control" id="videoName" placeholder="Video Name" />
						                  </div>
						                  <div class="form-group">
										    <label for="exampleFormControlSelect1">Chose student level</label>
										    <select class="form-control" name="levelId" id="levelId">
										      <option th:value ="0">select a value</option>
										      <option th:each="list : ${levelList}" th:value="${list.levelId}" th:text="${list.levelName}">2</option>
										    </select>
										  </div>
										  
						                  <div class="form-group">
										    <label for="exampleFormControlFile1">Video url: </label>
										    <input type="url" class="form-control" name="videoSrc" id="videoSrc" />
						                  </div>
					                
					            </div>
					            <div class="modal-footer justify-content-between">
					              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					              <button type="submit" class="btn btn-success">Save</button>
					            </div>
					          </div>
					          <!-- /.modal-content -->
					        </div>
					        <!-- /.modal-dialog -->
				      </div>
				      <!-- /.modal -->
			       </form>
			       <!-- /form -->
			            
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	 </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<!-- page script -->
<script>
$(document).ready(function () {
	window.setTimeout(function() {
	    $(".alert").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 2000);
	
	
// data table configuration
   $(function () {
        var table = $("#example1").DataTable({
            responsive: true
        });
    });
    
	$('.confirm-delete').on('click', function(e){
		e.preventDefault();
		var id = $(this).data('id');
		
		$('#myModal').modal('show');
		$('#modelLink').attr('href', '/deleteVideo?videoId=' + id);
	});
	
	$('.editBtn').on('click', function(e) {
		
		e.preventDefault();
		var href = $(this).attr('href');
		$.get(href, function(video, status){
			console.log('exampleModal: ' , video);
			$('#videoId').val(video.videoId);
			$('#videoName').val(video.videoName);
			//$("#levelId").val(video.levelId).change();
			$('#levelId').val(video.levelId);
			$('#videoSrc').val(video.videoSrc);
			$('#productName').val(video.productName);
			
		});  
		
		$('#exampleModal').modal('show');
	});
	
	
	$('#quickForm').validate({
		normalizer: function( value ) {
			  return $.trim( value );
			},
	    rules: {
	      videoName: {
	        required: true,
	        minlength: 3,
	        maxlength: 150,
	        remote: {
	            url: "checkVideoNameDuplication",
	            type: "GET",
	            data: {
	            	videoName: function() {
	            		return $("#videoName").val();
	              }
	            }
	          }
	      },
	      levelId: { valueNotEquals: "0" },
	      videoSrc: {
	    	  required: true,
	          url: true,
	       	  // We don't need to trim the value of this element, so we overrided
	          // the global normalizer in order to append 'http://' to the url value
	          // if doesn't already.
	          normalizer: function( value ) {
	            var url = value;
	     
	            // Check if it doesn't start with http:// or https:// or ftp://
	            if ( url && url.substr( 0, 7 ) !== "http://"
	                && url.substr( 0, 8 ) !== "https://"
	                && url.substr( 0, 6 ) !== "ftp://" ) {
	              // then prefix with http://
	              url = "http://" + url;
	            }
	     		var v = $('.videoSrc').val(url);
	            // Return the new url
	            return url;
	          }
	    	  
	      }
	    },
	    messages: {
	      videoName: {
	        required: "Please enter Video Name",
	        minlength: "Video Name must be at least 3 characters long",
	        maxlength: "Video Name must be at most 150 characters long",
	        remote: "Video Name has already been taken"
	      },
	      videoSrc: {
	        required: "Please provide a url",
	        url:"please check your url",
	        
	      },
	    },
	    errorElement: 'span',
	    errorPlacement: function (error, element) {
	      error.addClass('invalid-feedback');
	      element.closest('.form-group').append(error);
	    },
	    highlight: function (element, errorClass, validClass) {
	      $(element).removeClass('is-valid').addClass('is-invalid');
	    },
	    unhighlight: function (element, errorClass, validClass) {
	      $(element).removeClass('is-invalid').addClass('is-valid');
	    },
	    
	    
	    submitHandler: function(form) {
	        $.ajax({
	            url: form.action,
	            type: form.method,
	            data: $(form).serialize(),
	            success: function(response) {
	            	console.log('response', response);
	            	$('#exampleModal').modal('toggle');
	            	toastr.success(response);
	            }            
	        });
	    }
	    
	  });
	
	$('#exampleModal').on('hidden.bs.modal', function() {
		var $alertas = $('#quickForm');
	    $alertas.validate().resetForm();
	    $alertas.find('.is-invalid').removeClass('is-invalid');
	});
	  
	  $.validator.addMethod("valueNotEquals", function(value, element, arg){
	      return arg != value;
	      }, "Chose student level");
	  
	
  }); 
</script>
</body>
</html>