<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
  <!-- TOP Menu (all meta link scripts go here ) START -->
  <div th:replace="fragments/topmenu :: topmenu"/>
  <!-- TOP Menu (all meta link scripts go here ) END -->
  <!-- Left side column. contains the sidebar START -->
  <div th:replace="fragments/menusidebar :: menusidebar"/>
  <!-- Left side column. contains the sidebar END -->
    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
  <!-- Content Header (Page header) START-->
  <div th:replace="fragments/maincontainheader :: maincontainheader"/>
  <!-- Content Header (Page header) END-->
  
  <!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
  
  <!-- Main content START  -->
  <!--   ============ YOUR CODE WILL GO HERE =========== START -->
  <section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
            
            
          <!-- jquery validation -->
                <div class="card card-success">
                  <div class="card-header">
                    <h3 class="card-title">Update Batch Info </h3>
                   
                  </div>
                  
                  <!-- /.card-header -->
                  <!-- form start -->
                  <div class="card-body">
                  
                  <div style="padding-bottom:20px;">
           <div  th:if="${successMessage != null}" id="message">
             <strong>
                <div th:text="${successMessage}" style="color:green;"></div>
             </strong>
             </div>
             
             <div  th:if="${errorMessage != null}" id="message">
             <strong>
               <div th:text="${errorMessage}" style="color:red;"></div>
             </strong>
             </div>
            
         </div>
              
                   <form class="form-horizontal" id="quickForm" action="#" method="post" data-th-action="@{batch-edit-save.html}"  th:object="${batch}">
                    
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchId"><b>Batch ID : </b></label>
                        
                        <input type="text" name="batchId" class="form-control col-md-4 col-sm-4 col-xs-4" th:field="*{batchId}"  readonly="readonly">
                      </div>
                      <div class="form-group  row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="batchName"><b>Batch Name : </b></label>

                        <input type="text" name="batchName" class="form-control col-md-4 col-sm-4 col-xs-4" id="batchName" required="required" th:field="*{batchName}"
                       onchange="checkDuplicate()">
                      </div>
                      
                      <div class="form-group row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="session"><b>
                        Session : <span class="required" style="color: red;">*</span></label>

                        <select class="form-control" th:field="*{session}" required="required">
                              <option selected="selected" value="2019-2020">2019-2020</option>
                              <option value="2018-2019">2018-2019</option>
                              <option value="2017-2018">2017-2018</option>
                        </select>
                      </div>
                      
                      <div class="form-group  row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="startTime"><b>From Time : </b></label>

                        <input type="time" name="startTime" style="height:10%;" class="form-control col-md-4 col-sm-4 col-xs-4" id="startTime" th:field="*{shiftStart}" required="required">
                      </div>
                      
                      <div class="form-group  row">
                        <label class="control-label col-md-3 col-sm-3 col-xs-3" for="toTime"><b>To Time : </b></label>

                        <input type="time" name="toTime" style="height:10%;" class="form-control col-md-4 col-sm-4 col-xs-4" id="toTime" th:field="*{shiftEnd}" required="required">
                      </div>
                      
                      <div class="form-group row">
                      <label class="control-label col-md-3 col-sm-3 col-xs-3" for="day"><b>Day : </b></label>
                        <ul type="none">
  						  <li th:each="day, stat : *{days}">
  						   <input type="hidden" th:field="*{days[__${stat.index}__].dayId}"/>
                           <input type="checkbox" th:field="*{days[__${stat.index}__].selected}" />
                           <label class="control-label" th:text="${day.dayName}">Name</label>
                         </li>
                       </ul>
                      </div> 
                      
                      <button type="submit" class="btn btn-success">Update</button>
                      </form>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                      
                    </div>
                  
                </div>
              </div>
              <!--/.col (left) -->
         
            
          </div>
          <!-- /.row -->  
    </div>
    <!-- /.container-fluid -->
  </section>
  <!-- /.content -->
  <!--   ============ YOUR CODE WILL GO HERE =========== END-->
  <!-- Main content END  -->
  <!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
     <div class="float-right d-none d-sm-block">
       <b>Version</b> 3.0.2
     </div>
     <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
     reserved.
     </footer>
  
   <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"></div>
<!-- common script END -->
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>

<script type="text/javascript">
$(document).ready(function () {
    
  $('#quickForm').validate({
      rules: {
        batchName: {
          required: true,
        },
      },
      messages: {
        batchName: {
          required: "Please enter a batch name",
        }
      },
      errorElement: 'span',
      errorPlacement: function (error, element) {
        error.addClass('invalid-feedback');
        error.addClass('col-md-4');
        element.closest('.form-group').append(error);
      },
      highlight: function (element, errorClass, validClass) {
        $(element).addClass('is-invalid');
      },
      unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass('is-invalid').addClass('is-valid');
      }
    });
  });
  
// Check duplicate of batch name
function checkDuplicate(){
 var batchName = $('#batchName').val();
 console.log(batchName);

 $.ajax({
    type:'POST',
    data:{batchName},
    url:'getbatchName',
    //datatype:'json',
    success: function(result){
      if(result!="No"){
        alert(batchName + "  already exists in database");
        $('#batchName').val("");
      }
    }
 });
} 


$("#message").fadeOut(4000, "linear");
</script>

 </body>
</html>