<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<!-- Main content -->
	<section class="content">
		<div class="container-fluid">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
					<div class="card">
			            <div class="card-header">
			              <h3 class="card-title"><strong>Lecture File List</strong></h3>
			            </div>
			            <!-- /.card-header -->
			            <div class="card-body">
			              <table id="example1" class="table table-bordered table-striped">
			                <thead>
			                <tr>
			                  <th>SL</th>
			                  <th>Lecture Name</th>
			                  <th>File Name</th>
			                  <th>Modified File</th>
			                  <th>Date</th>
			                  <th>Extension</th>
			                  <th>Size</th>
			                  <th>O/P</th>
			                </tr>
			                </thead>
			                <tbody>
			                <tr th:each="lecture, itr : ${lectures}">
			                  <td th:text="${itr.index + 1}">1</td>
			                  <td th:text="${lecture.lectureName}">1</td>
			                  <td th:text="${lecture.fileName}">Functional-requirements.docx</td>
			                  <td th:text="${lecture.modifiedFileName}">Functional-requirements.docx</td>
			                  <td th:text="${#dates.format(lecture.createDate, 'dd-MMM-yyyy')}">112/25/2001</td>
			                  <td th:text="${lecture.fileExtension}">pdf</td>
			                  <td th:text="${lecture.fileSize}">25,000 KB</td>
			                  <td class="text-right py-0 align-middle">
			                      <div class="btn-group btn-group-sm" sec:authorize="hasAuthority('admin')">
			                        <a th:href="@{/updateFile(id=${lecture.fileId})}" class="btn btn-warning"><i class="fas fa-pencil-alt"></i></a>
			                        <a href="#" th:attr="data-id=${lecture.fileId}, data-name=${lecture.modifiedFileName}" class="btn btn-danger confirm-delete"><i class="fas fa-trash"></i></a>
			                        <a th:href="@{/downloadFile(fileName=${lecture.fileName}, modifiedFileName=${lecture.modifiedFileName})}" class="btn btn-info"><i class="fa fa-download"></i></a>
			                      </div>
			                      <div class="btn-group btn-group-sm" sec:authorize="!hasAuthority('admin')">
			                        <a th:href="@{/downloadFile(fileName=${lecture.fileName}, modifiedFileName=${lecture.modifiedFileName})}" class="btn btn-info"><i class="fa fa-download"></i></a>
			                      </div>
			                   </td>
			                </tr>
			                </tbody>
			                <tfoot>
			                <tr>
			                  <th>SL</th>
			                  <th>Lecture Name</th>
			                  <th>File Name</th>
			                  <th>Modified File</th>
			                  <th>Date</th>
			                  <th>Extension</th>
			                  <th>Size</th>
			                  <th>O/P</th>
			                </tr>
			                </tfoot>
			              </table>
			            </div>
			            <!-- /.card-body -->
			          </div>
			          <!-- /.card -->
			          
			          
				      <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
				        <div class="modal-dialog">
				          <div class="modal-content bg-danger">
				            <div class="modal-header">
				              <h4 class="modal-title">Delete Record</h4>
				              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				                <span aria-hidden="true">&times;</span>
				              </button>
				            </div>
				            <div class="modal-body">
				              <p>Do you want to delete this record?</p>
				            </div>
				            <div class="modal-footer justify-content-between">
				              <a id="modelLink" class="btn btn-primary">Yes</a>
					          <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
				            </div>
				          </div>
				          <!-- /.modal-content -->
				        </div>
				        <!-- /.modal-dialog -->
				      </div>
				      <!-- /.modal -->				    
				    
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	   </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- page script -->
<script>
  $(function () {
	   $(function () {
	        var table = $("#example1").DataTable({
	            responsive: true
	        });
	    });
    
	$('.confirm-delete').on('click', function(e){
		e.preventDefault();
		var id = $(this).data('id');
		
		var name = $(this).data('name');
		$('#myModal').modal('show');
		$('#modelLink').attr('href', '/deleteLectureFile?id=' + id);
	});
  }); 
</script>
</body>
</html>