<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<section class="content">
		<div class="container-fluid">
			<div class="row">
         		<div class="col-lg-3 col-6">
            		<!-- small box -->
		            <div class="small-box bg-success">
		              <div class="inner">
		                <h3>150</h3>
		
		                <p>New Orders</p>
		              </div>
		              <div class="icon">
		                <i class="fas fa-cloud-download-alt"></i>
		              </div>
		            </div>
		        </div>
		        <!-- ./col -->
		        <div class="col-lg-3 col-6">
		          	<!-- small box -->
		            <div class="small-box bg-warning">
		              <div class="inner">
		                <h3>44</h3>
		
		                <p>User Registrations</p>
		              </div>
		              <div class="icon">
		                <i class="fas fa-cloud-upload-alt"></i>
		              </div>
		            </div>
		        </div>
		        <!-- ./col -->
		        <div class="col-lg-3 col-6" style="float: right">
		          	<!-- small box -->
		            <div class="small-box bg-warning">
		              <div class="inner">
		                <h3>Zip File</h3>
		
		                <p>click here</p>
		              </div>
		                <a class="icon" th:href="@{'/downloadZipFile'}" title="zip"><i class="fas fa-download"></i></a>
		            </div>
		        </div>
		        <!-- ./col -->
         	</div>
         	
		    <div class="row">
       			<div class="col-12">
       			
					<!-- Default box -->
				    <div class="card card-info">
			            <div class="card-header">
			              <h3 class="card-title">Files</h3>
			
			              <div class="card-tools">
			                <a type="button" th:href="@{'/downloadZipFile'}" class="btn btn-info" title="zip">download all
			                  <i class="fas fa-download"></i></a>
			              </div>
			            </div>
			            <div class="card-body p-0">
			              <table class="table">
			                <thead>
			                  <tr>
			                  	<th>Lecture Name</th>
			                    <th>File Name</th>
			                    <th>File Size</th>
			                    <th>Upload Date</th>
			                    <th></th>
			                  </tr>
			                </thead>
			                <tbody>
			
			                  <tr th:each="lecture : ${lectures}">
			                  	<td th:text="${lecture.lectureName}">1</td>
			                    <td th:text="${lecture.fileName}">Functional-requirements.docx</td>
			                    <td th:text="${lecture.fileSize}">25,000 KB</td>
			                    <td th:text="${#dates.format(lecture.createDate, 'dd-MMM-yyyy')}">112/25/2001</td>
			                    <td class="text-right py-0 align-middle">
			                      <div class="btn-group btn-group-sm">
			                        <a href="#" class="btn btn-info"><i class="fas fa-eye"></i></a>
			                        <a th:href="@{'/downloadFile/'+ ${lecture.fileName} +'/'+ ${lecture.modifiedFileName}}" class="btn btn-success"><i class="fas fa-download"></i></a>
			                      </div>
			                    </td>
			                  </tr>
			
			                </tbody>
			              </table>
			            </div>
			            <!-- /.card-body -->
			          </div>
			          <!-- /.card -->
				    
				    
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	   </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->

</body>
</html>