<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<style type="text/css">
.imagecontainer{
position: relative;
width: 100%;
max-width: 400px;
}
.overlay{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: 100%;
width: 100%;
opacity: 0;
transition: .3s ease;
border-radius: 50%;
}
.imagecontainer:hover .overlay{
opacity: 1;
}
.icon{
	color: #fff;
	font-size: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform:translate(-50%, -50%);
	-ms-transform:translate(-50%, -50%);
	text-align: center;
}
.fa-trash:hover{
	color:red;
}
</style>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<section class="content">
	 <div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
		<div class="container-fluid" sec:authorize="hasAuthority('admin')">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
				    <div class="card card-info">
				        <div class="card-header">
				          <h3 class="card-title">Lecture File Upload</h3>
				          
				        </div>
				        <div th:if="${successMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong>You have added data successfully. </strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div th:if="${errorMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong >You should check in on some of those fields below.</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
				        <!-- /.card-header -->
				        <form role="form" id="quickForm" method="POST" th:action="@{${isEdit} ? 'updateFileSave' : 'lecture-file-upload-save'}"  enctype="multipart/form-data">
					        <div class="card-body">
				                <div class="card-body">
				                	<input type="hidden" name="removeFile" id="removeFile" />
    								<input type="hidden" name="id" th:value="${id}" id="id"/>
				                  <div class="form-group">
				                    <label for="lectureName">Lecture Name: </label>
				                    <input type="text" name="lectureName" th:value="${lectureName}" class="form-control" id="lectureName" placeholder="Lecture Name" />
				                  </div>
				                  <div class="form-group">
								    <label for="exampleFormControlSelect1">Chose student level</label>
								    <select class="form-control" id="levelId" name="levelId">
								      <option value ="">select a value</option>
								      <option th:each="list : ${levelList}" th:value="${list.levelId}" th:text="${list.levelName}">2</option>
								    </select>
								  </div>
				                  <div class="form-group">
								    <label for="exampleFormControlFile1">File input: <span class="text-danger" style="font-weight: 400">(file format should be pdf or docx only)</span> </label>
								    <input type="file" class="form-control-file" name="file" id="file" />
				                  </div>
				                  
				                  <div class="form-group">
							    	<span class="imagecontainer">
							    		<img alt="" th:src="@{'resources/images/pdf.png'}" style="width: 80px; height: 80px; border-radius: 50%; margin-left: 10px" class="image" 
							    		th:if="${fileExtension == 'pdf' || fileExtension == 'docx'}">
							    		<span class="overlay" th:if="${isEdit}== true">
							    			<a href="" class="icon image-confirm-delete" title="image delete" th:attr="data-id=${fileId}, data-name=${modifiedFileName}" >
							    				<i class="fa fa-trash" style="color:red;"></i>
							    			</a>
							    		</span>
							    	 </span>
						           </div>
				                </div>
				                <!-- /.card-body -->
					        </div>
					        <!-- /.card-body -->
					        <div class="card-footer">
			                	<button type="submit" class="btn btn-primary ml-3">Submit</button>
			                </div>
			                <!-- /.card-footer-->
		                </form>
		                <!-- /form -->
				    </div>
				    <!-- /.card -->
				    
				    
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	   </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	var removeFile = $('#removeFiles').val();
	
	$.validator.addMethod('filesize', function (value, element, arg) {
        var minsize=1000; // min 1kb
        if((value>minsize)&&(value<=arg)){
            return true;
        }else{
            return false;
        }
    });
  $('#quickForm').validate({
	  
    rules: {
      lectureName: {
        required: true,
        minlength: 3,
        maxlength: 150
      },
      levelId: {
    	  required: true
      },
      lectureFile: {
        required: function(element) {
        	console.log('removeFile', $("#removeFile").val());
            return $("#removeFile").val() != '';
        },
        extension: "docx|rtf|doc|pdf",
        filesize: 3
      }
    },
    messages: {
      lectureName: {
        required: "Please enter Lecture Name",
        minlength: "Lecture Name must be at least 3 characters long",
        maxlength: "Your password must be at most 150 characters long"
      },
      levelId: {
    	  required: "Please chose a student level"
      },
      lectureFile: {
        required: "Please provide a file",
        extension:"select valid input file format",
        
      },
    },
    errorElement: 'span',
    errorPlacement: function (error, element) {
      error.addClass('invalid-feedback');
      element.closest('.form-group').append(error);
    },
    highlight: function (element, errorClass, validClass) {
      $(element).addClass('is-invalid');
    },
    unhighlight: function (element, errorClass, validClass) {
      $(element).removeClass('is-invalid').addClass('is-valid');
    }
  });
  

	$('.image-confirm-delete').on('click', function(e){
		e.preventDefault();
		var fileId = $(this).data('id');
		
		var name = $(this).data('name');
		console.log(fileId + '->' + name);
		$('#removeFile').val(name);
		$('#fileId').val(parseInt(fileId));
		$('.imagecontainer').hide();
	});
	
  
});
</script>
</body>
</html>