<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- Content Header (Page header) START -->
<!-- Define all the Page related headers from Controller -->
<section class="content-header" th:fragment="maincontainheader">
	<!-- top tiles -->
    <!-- Content Header (Page header) -->
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1><span th:text="${contentTitle}"></span> <small th:text="${contentSubTitle}"></small></h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#" ><i class="fas fa-tachometer-alt"></i> <span th:text="${contentPath}"></span></a></li>
              <li class="breadcrumb-item active" th:text="${contentSubPath}">Simple Tables</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
	<!-- /top tiles -->
</section>
<!-- Content Header (Page header) END -->
<body>
</body>
</html>



