<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Main side Bar Menu START-->
<!-- Left side column. contains the sidebar -->
<!-- main menu of the application -->
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-info elevation-4"
	th:fragment="menusidebar">
	<!-- Brand Logo -->
	<a href="#" class="brand-link"> <img
		src="resources/images/AdminLTELogo.png" alt="AdminLTE Logo"
		class="brand-image img-circle elevation-3" style="opacity: .8">
		<div th:if="${panel != 'AnonymousUser Panel'}">
		  <span class="brand-text font-weight-light" th:text="${panel}"> Panel</span>
		</div>
		<div th:if="${panel == 'AnonymousUser Panel'}">
		 <span class="brand-text font-weight-light">Student Panel</span>
		</div>
		
	</a>

	<!-- Sidebar -->
	<div class="sidebar">
		<!-- Sidebar user panel (optional) -->
		<div class="user-panel mt-3 pb-3 mb-3 d-flex">
			<div class="image">
				<img src="resources/images/user2-160x160.jpg"
					class="img-circle elevation-2" alt="User Image">
			</div>
			<div class="info" th:if="${username != 'AnonymousUser'}">
				<a href="#" class="d-block" th:text="${username}">Name</a>
			</div>
			<div class="info" th:if="${username == 'AnonymousUser'}">
				<a href="#" class="d-block">User</a>
			</div>
		</div>

		<!-- Sidebar Menu -->
		<nav class="mt-2">
			<ul class="nav nav-pills nav-sidebar flex-column"
				data-widget="treeview" role="menu" data-accordion="false">
				<!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
				<li class="nav-item has-treeview" th:classappend="${selectedGroupMenu} == 'Dashboard'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Dashboard'? 'nav-link active' : 'nav-link'"> 
						<i class="nav-icon fas fa-tachometer-alt"></i>
						<p>	Dashboard <i class="right fas fa-angle-left"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/" th:class="${selectedMenu} ==  'Dashboard' ? 'nav-link active' : 'nav-link'"> 
								<i th:class="${selectedMenu} == 'Dashboard' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Dashboard</p>
							</a>
						</li>
					</ul>
				</li>
				
				
				<li class="nav-item has-treeview" th:classappend="${selectedGroupMenu} == 'File'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'File'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							File <i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="lecture-file-upload.html"	th:class="${selectedMenu} ==  'File Upload' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'File Upload' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p> File Upload</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/lecture-file-list.html"	th:class="${selectedMenu} ==  'File Upload List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'File Upload List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>File Upload List</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview" th:classappend="${selectedGroupMenu} == 'Video'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Video'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fas fa-play-circle"></i>
						<p> Video<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="video-upload.html"	th:class="${selectedMenu} ==  'Video Upload' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Video Upload' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Video Upload</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="video-upload-list.html" th:class="${selectedMenu} ==  'Video Upload List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Video Upload List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Video Upload List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="video.html" th:class="${selectedMenu} ==  'Lecture Videos' ? 'nav-link active' : 'nav-link'"> 
								<i th:class="${selectedMenu} == 'Lecture Videos' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Lecture Videos</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview"  sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Chapter'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Chapter'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fas fa-copy"></i>
						<p>
							Chapter <i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="chapter-add.html"	th:class="${selectedMenu} ==  'Chapter Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Chapter Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p> Chapter Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="chapter-list.html"	th:class="${selectedMenu} ==  'Chapter List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Chapter List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Chapter List</p>
							</a>
						</li>
					</ul>
				</li>
				
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Batch'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Batch'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fa fa-id-badge"></i>
						<p>
							Batch <i class="fas fa-angle-left right"></i>
						</p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="batch-add.html"	th:class="${selectedMenu} ==  'Batch Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Batch Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p> Batch Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="batch-list.html"	th:class="${selectedMenu} ==  'Batch List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Batch List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Batch List</p>
							</a>
						</li>
					</ul>
				</li>
				
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Student'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Student'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fa fa-id-card"></i>
						<p> Student<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="student-add.html"	th:class="${selectedMenu} ==  'Student Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Student Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Student Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="student-list.html" th:class="${selectedMenu} ==  'Student List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Student List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Student List</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Exam'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Exam'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fas fa-book"></i>
						<p> Exam<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="exam-add.html"	th:class="${selectedMenu} ==  'Exam Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Exam Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Exam Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="batch-wise-exam-list-search.html" th:class="${selectedMenu} ==  'Exam List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Batch List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Exam List</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')"  th:classappend="${selectedGroupMenu} == 'Result'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Result'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fa fa-envelope-open"></i>
						<p> Result<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="batch-wise-student-result-entry-search.html"	th:class="${selectedMenu} ==  'Result Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Result Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Result Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="batch-wise-student-result-list-search.html" th:class="${selectedMenu} ==  'Result List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Result List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Result List</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Report'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Report'? 'nav-link active' : 'nav-link'">
						<i class="nav-icon fa fa-envelope-open"></i>
						<p> Report<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="get-last-result-info.html"	th:class="${selectedMenu} ==  'Result Report' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Result Report' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Result Report</p>
							</a>
						</li>
					</ul>
				</li>
				
				<li class="nav-item has-treeview" sec:authorize="hasAuthority('admin')" th:classappend="${selectedGroupMenu} == 'Profile'? 'menu-open' : ''">
					<a href="#" th:class="${selectedGroupMenu} == 'Profile'? 'nav-link active' : 'nav-link'">
						<i class="fas fa-users"></i>
						<p> Profile<i class="fas fa-angle-left right"></i></p>
					</a>
					<ul class="nav nav-treeview">
						<li class="nav-item">
							<a href="/profile-user-add.html"	th:class="${selectedMenu} ==  'User Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'User Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>User Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/profile-user-list.html" th:class="${selectedMenu} ==  'User List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'User List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>User List</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/profile-role-add.html"	th:class="${selectedMenu} ==  'Role Add' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Role Add' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Role Add</p>
							</a>
						</li>
						<li class="nav-item">
							<a href="/profile-role-list.html" th:class="${selectedMenu} ==  'Role List' ? 'nav-link active' : 'nav-link'"> 
							<i th:class="${selectedMenu} == 'Role List' ? 'nav-icon far fa-circle text-success' : 'nav-icon far fa-circle'"></i>
								<p>Role List</p>
							</a>
						</li>
					</ul>
				</li>
				

			</ul>
		</nav>
		<!-- /.sidebar-menu -->
	</div>
	<!-- /.sidebar -->
</aside>

<!-- Main side Bar Menu end-->
<body>

</body>
</html>