<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<!-- Main content -->
	<section class="content">
		<div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
		<div class="container-fluid" sec:authorize="hasAuthority('admin')">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
					<div class="card">
			            <div class="card-header">
			              <h3 class="card-title">User Add</h3>
			            </div>
			            <div th:if="${successMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <span th:text="${successMessage}"></span>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div th:if="${errorMessage != null}" class="alert alert-danger alert-dismissible fade show" role="alert">
						  <strong th:text="${errorMessage}">You should check in on some of those fields below.</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
			            <!-- /.card-header -->
			            
						<form class="form-horizontal" action="#" method="post" data-th-action="@{/profile-user-add-save}" th:object="${user}" >
                            <div class="card-body">
                                <input type="hidden" name="id" class="form-control" id="id"  th:field="*{id}"/>
                                <div class="form-group">
                                    <label for="username" class="col-sm-2 control-label">Username</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="username" class="form-control" id="username"  th:field="*{username}" placeholder="Username"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-2 control-label">Password</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="password" class="form-control" id="password"  th:field="*{password}" placeholder="Password"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirm" class="col-sm-2 control-label">Confirm</label>
                                    <div class="col-sm-10">
                                        <input type="password" name="confirm" class="form-control" id="confirm"  th:field="*{confirm}" placeholder="Confirm"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-2 control-label">Email</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="email" class="form-control" id="email"  th:field="*{email}" placeholder="Email"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="enabled" class="col-sm-2 control-label">Enabled</label>
                                    <div class="col-sm-10">
                                        <select th:field="*{enabled}" id="enabled">
                                            <option th:each="enabled : ${allEnabled}"
                                                    th:value="${enabled}"
                                                    th:text="${enabled}">Enabled</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div th:each="role, stat : *{roles}">
                                <div class="form-group">
                                    <input type="hidden" th:field="*{roles[__${stat.index}__].name}" />
                                    <label class="col-sm-4 control-label" th:text="${role.name}">Name</label>
                                    <div class="col-sm-2">
                                        <input type="checkbox" th:field="*{roles[__${stat.index}__].selected}" />
                                    </div>
                                </div>
                        
			            </div>
			            <!-- /.card-body -->
			            <div class="card-footer">
                                <button type="submit" class="btn btn-default" name="action" value="cancel">Cancel</button>
                                <button type="submit" class="btn btn-info float-right" name="action" value="update">Add</button>
                            </div>
                            <!-- /.box-footer -->
			            </form>
			            
			          </div>
			          <!-- /.card -->
			          
			            
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	 </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<!-- page script -->
<script>

$(function () {
    var table = $("#profileDatatable").DataTable(
        {
            responsive: true
        });
});
</script>
</body>
</html>