<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Head (all meta link scripts go here ) START -->
<div th:replace="fragments/head :: head"/>
<body class="hold-transition sidebar-mini">
<div class="wrapper">
	<!-- TOP Menu (all meta link scripts go here ) START -->
	<div th:replace="fragments/topmenu :: topmenu"/>
	<!-- TOP Menu (all meta link scripts go here ) END -->
	<!-- Left side column. contains the sidebar START -->
	<div th:replace="fragments/menusidebar :: menusidebar"/>
	<!-- Left side column. contains the sidebar END -->
  	<!-- Content Wrapper. Contains page content -->
	<div class="content-wrapper">
	<!-- Content Header (Page header) START-->
	<div th:replace="fragments/maincontainheader :: maincontainheader"/>
	<!-- Content Header (Page header) END-->
	
	<!--  ********  PLEASE DO NOT CHANGE ABOVE CODE ********* -->
	
	<!-- Main content START  -->
	<!--   ============ YOUR CODE WILL GO HERE =========== START -->
	<!-- Main content -->
	<section class="content">
		<div class="small-box bg-red" sec:authorize="!hasAuthority('admin')">
	     	<div class="inner text-center" style="color: #FFF; font-weight:bold; font-family: 'Open Sans', sans-serif;">
	             <h4>
	             <i class="fas fa-skull-crossbones fa-lg"> </i>     
	             You don't have permission to this page.      
	             </h4>
	     	</div>
      	</div>
		<div class="container-fluid" sec:authorize="hasAuthority('admin')">
		    <div class="row">
       			<div class="col-12">
					<!-- Default box -->
					<div class="card">
			            <div class="card-header">
			              <h3 class="card-title">Role List</h3>
			            </div>
			            <div th:if="${successMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <span th:text="${successMessage}"></span>
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div th:if="${errorMessage != null}" class="alert alert-success alert-dismissible fade show" role="alert">
						  <strong >You should check in on some of those fields below.</strong> 
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
						    <span aria-hidden="true">&times;</span>
						  </button>
						</div>
			            <!-- /.card-header -->
			            <div class="card-body">
			                 <table id="roleDatatable" class="table table-bordered  table-striped"  width="100%">
                                <thead>
                                <tr>
                                    <th>Index</th>
                                    <th>Name</th>
                                    <th>Operations</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="role, itrRole : ${roles}">
                                    <td th:text="${itrRole.index + 1}">Index</td>
                                    <td th:text="${role.name}">Name</td>
                                    <td>
                                        <a th:href="@{/profile-role-update.html(id=${role.id})}" sec:authorize="hasAuthority('admin')"><i class="fa fa-pencil fa-fw" style="color:orange"></i> Edit</a>
                                        <span sec:authorize="hasAuthority('admin')">|</span>
                                        <a th:href="@{/profile-role-delete.html(id=${role.id})}" sec:authorize="hasAuthority('admin')" onclick="return confirm('Are you sure you want to delete this item?');"><i class="fa fa-trash-o fa-lg" style="color:red"></i> Delete</a>
                                        <!--|
                                        <a href="#" onclick="showCustomDialog('Role Details', '/corporate/roles', $('#roleDetailsPopup'))" class="btn-xs btn-xs-app"><i class="fa fa-eye fa-fw" style="color:green"></i></a>
                                        <button id="detailButton" class="button"
                                                name="detailButton" onclick="showCustomDialog('Role Details', '/corporate/roles', $('#roleDetailsPopup'))" type="button"
                                                >
                                        </button>-->
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Index</th>
                                        <th>Name</th>
                                        <th>Operations</th>
                                    </tr>
                                </tfoot>
                            </table>
			            </div>
			            <!-- /.card-body -->
			          </div>
			          <!-- /.card -->
			          
			            
			    </div>
       			<!-- /.col -->
      		</div>
      		<!-- /.row -->	
		</div>
		<!-- /.container-fluid -->
	</section>
	<!-- /.content -->
	<!--   ============ YOUR CODE WILL GO HERE =========== END-->
	<!-- Main content END  -->
	<!--  ********  PLEASE DO NOT CHANGE BELOW CODE ********* -->
	</div>
	<!-- /.content-wrapper -->
	<footer class="main-footer">
	   <div class="float-right d-none d-sm-block">
	     <b>Version</b> 3.0.2
	   </div>
	   <strong>Copyright &copy; 2014-2019 <a href="http://adminlte.io">AdminLTE.io</a>.</strong> All rights
	   reserved.
	 </footer>
	
	 <!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
	  <!-- Control sidebar content goes here -->
	</aside>
	<!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<!-- ===================##### Main contain goes here END ============================ -->

<!-- =============================================== -->
<!-- common script START -->
<div th:replace="fragments/commonscripts :: commonscripts"/>
<!-- common script END -->
<!-- DataTables -->
<script src="resources/js/lib/jquery.dataTables.js"></script>
<script src="resources/js/lib/dataTables.bootstrap4.js"></script>
<!-- jquery-validation -->
<script src="resources/js/lib/jquery.validate.min.js"></script>
<script src="resources/js/lib/additional-methods.min.js"></script>
<!-- page script -->
<script>
$(document).ready(function () {
	window.setTimeout(function() {
	    $(".alert").fadeTo(500, 0).slideUp(500, function(){
	        $(this).remove(); 
	    });
	}, 2000);
	
	
// data table configuration
    $(function () {
        var table = $("#roleDatatable").DataTable(
            {
                responsive: true
            });
    });
    
	
  }); 
</script>
</body>
</html>